<h1>New Beer</h1>

<%= form_with url: beers_path do |form| %>
  <%= render "partials/errors", errors: @beer&.errors&.full_messages %>
    <%= form.fields_for @beer do |ff| %>

      <%= ff.label :name %>
      <%= ff.text_field :name %>

      <%= ff.label :malt %>
      <%= ff.text_field :malt %>

      <%= ff.label :malt_amount %>
      <%= ff.number_field :malt_amount, step: :any %>

      <%= ff.label :hop %>
      <%= ff.text_field :hop %>

      <%= ff.label :hop_amount %>
      <%= ff.number_field :hop_amount, step: :any %>

      <%= ff.label :yeast %>
      <%= ff.text_field :yeast %>

      <%= ff.label :yeast_amount %>
      <%= ff.number_field :yeast_amount, step: :any %>
      <br>

      <%= ff.label :abv %>
      <%= ff.number_field :abv, step: :any %>
      <br>
    <% end %>

<h3>Notes about This Beer?</h3>
    <%= form.fields_for :post do |f| %>
    <%= render "partials/errors", errors: @post&.errors&.full_messages %>
      <%= f.label :Notes %>
      <%= f.text_field :text_area %>
    <% end %>
  
  <%= form.submit %>   
<% end %>

  
